
--extra-index-url https://download.pytorch.org/whl/cu118

torch==2.3.1
torchaudio==2.3.1
torchvision==0.18.1

numpy<2.0
pandas
scikit-learn
scikit-multilearn
matplotlib
seaborn

transformers
datasets
accelerate
peft
tokenizers
safetensors

opencv-python-headless
albumentations
pillow
timm

wandb
tqdm
torchsummary
torchmetrics

ipykernel
ipywidgets
jupyter_client
utils
PyQt5